:root {
    --header-background-color: hsl(183, 100%, 51%);
    --header-font-color: #130101;
    --body-background-color: #e8f3f9d8;
    --body-font-color: #000000;
  }
  html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
  }
  
  * {
    box-sizing: inherit;
    font-size: inherit;
    /* margin: inherit;
    padding: inherit; */ /* sai => nguy hiểm */
  }
  
  
  #general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
  }
  
  @media (max-width: 500px) {
    #general {
      flex-direction: column-reverse;
    }
  }
  
  #personal {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #name {
    text-align: center;
    font-size: 2rem;
  }
  
  #image {
    max-height: 200px;
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: -100px; */
    border-radius: 50%;
  }
  
  @media (max-width: 500px) {
    #image {
      max-height: 150px;
      max-width: 150px;
    }
    
  }
  
  .contact-link {
    display: block;
    font-size: 0.9rem;
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out;
  }
  
  .contact-link::before {
    content: "< ";
  }
  
  .contact-link::after {
    content: " />";
  }
  
  .contact-link::before, .contact-link::after {
    font-size: 1.2rem;
    vertical-align: middle;
    color: var(--header-background-color);
    transition: color 0.3s ease-out;
  }
  
  
  .contact-link:hover::before, .contact-link:hover::after {
    color: rgb(255, 0, 0);
  }
  
  .contact-link:hover {
    color: rgb(255, 0, 0);
  }
  
  #detail {
    margin: 0;
    padding: 40px 100px;
    line-height: 2.5rem;
  }
  
  @media (max-width: 500px) {
    #detail {
      padding: 40px 10px;
    }
  }
  
  h3 {
    font-size: 1.5rem;
    border-bottom: 0.1rem rgba(0, 0, 0, 0.2) solid;
  }
  
  .item {
    margin: 50px auto;
  }
  
  